
Homework01/.vs/Homework01/v17/.suo
Homework01/Homework01/bin/Debug/net5.0/Homework01.deps.json
Homework01/Homework01.sln
*.dll
Homework01/Homework01/bin/Debug/net5.0/Homework01.exe
Homework01/Homework01/bin/Debug/net5.0/Homework01.pdb
*.csproj
*.json
*.cache
*.exe
Homework01/Homework01/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Homework01/Homework01/obj/Debug/net5.0/Homework01.AssemblyInfo.cs
Homework01/Homework01/obj/Debug/net5.0/Homework01.csproj.BuildWithSkipAnalyzers
Homework01/Homework01/obj/Debug/net5.0/Homework01.csproj.FileListAbsolute.txt
Homework01/Homework01/obj/Debug/net5.0/Homework01.GeneratedMSBuildEditorConfig.editorconfig
Homework01/Homework01/obj/Debug/net5.0/Homework01.pdb
Homework01/Homework01/obj/Homework01.csproj.nuget.g.props
Homework01/Homework01/obj/Homework01.csproj.nuget.g.targets
